.parent {
    height: 20000px;
    position: relative;
    top: 0;
}

.parent .part {
    position: fixed;
    width: 50%;
    background-color: #ccc;
    top: 0;
    z-index: 1;
    overflow:hidden;
}

.parent .part.left {
    left: 0px;
}

.parent .part.right {
    right: 0px;
}

img {
    height: 100vh;
}