body {
    overscroll-behavior: none;
}

/*Open Door Scroll Effect*/
.parent {
    position: relative;
    height: 100%;
    z-index: 10;
}

.parent .part {
    position: fixed;
    top: 0;

    width: 50vw;

    overflow: hidden;
}

.parent .part.left {
    left: 0px;
}

.parent .part.right {
    right: 0px;
}

img {
    height: 100vh;
}


/*Page*/
.container {
    height: 3240px;
}

/*Nav Bar*/
.header_menu {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, .15));
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 1;
}

/*Sections*/
.sec01_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 400vh);
    background: url(./asset/space_bg.png) bottom/cover no-repeat;
}

#p5jsplanet {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
